/* Set a base font size and font family */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 1200px;
}

/* Define a basic layout */
header {
  background-color: #333;
  color: #fff;
  margin-top: 50px;
  padding: 20px;
}

* Define some common styles for headings */ h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

/* Style for banner section */
.banner {
  margin: 30px 0;
}

/* Style for banner image */
.banner-image {
  height: 400px;
  width: 1200px;
}
